.box{
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 5px;
}
.box.red{
  background-color: red;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-to {
  transform: translateX(50px)
}

.fade-enter {
  transform: translateX(50px)
}